* {
    box-sizing: border-box;
}

/* FIRST SCREEN */

.screen-first {
    background: url(../img/Clip@2x.png);
    background-size: cover;
    height: 700px
}

.screen-first .logo-title {
    color: white;
    position: absolute;
    left: 161px;
    top: 36px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    letter-spacing: 0.4em;
}

.logo-section {
    position: absolute;
    left: 115px;
    top: -57.5px;


}

.logo__hex {
    height: 103.5px;
    width: 250px;
    position: absolute;
    background-color: #131313;
}

.logo__center {
    border-right: 2px solid red;
    border-left: 2px solid red
}

.logo__rotate-right {
    border-right: 2px solid red;
    transform: rotate(45deg);
}

.logo__rotate-left {
    border-left: 2px solid red;
    transform: rotate(-45deg);
}



.logo__rotate-top {
    border-right: 2px solid red;
    transform: rotate(90deg);
}

.screen-first__hidden {
    width: 100%;
    height: 700px;
    z-index: -1;
    background-color: rgb(0, 0, 0, .7);
}

.nav-container {
    background-color: rgb(0, 0, 0, .9);
    height: 70px;
}

.screen-first li:first-child {
    color: white;
}

.screen-first ul {
    margin: 0 124px 0 443.8px;

}

.screen-first li {
    color: #A4A4A4;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-right: 35px;
    margin-top: 24.5px;
    margin-bottom: 24.5px;
    position: relative;
}



.screen-first li:hover {
    cursor: pointer;
}

.screen-first li:hover::before {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 50%;
    border-top: 1px solid red;
    content: "";
}


.screen-first li:hover::after {
    position: absolute;
    top: 200%;
    left: 50%;
    width: 50%;
    border-top: 1px solid red;
    content: "";
}


.red {
    color: red;
}

.screen-first p {
    color: white;

}

.first-button {
    color: white;
    padding: 13px 35px;
    background-color: #FF0036;
    width: 170px;
    height: 50px;
    display: inline-block;
    margin-right: 30px;
}

.second-button {
    color: white;
    padding: 13px 35px;
    background-color: #131313;
    width: 170px;
    height: 50px;
    display: inline-block;
}

.screen-first .text-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 55px;
}


.screen-first .text-description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

}

.screen-first__main {
    display: flex;
    justify-content: center;

}

.screen-first__main-container {
    width: 1030px;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 179px;

}

.screen-first__button-container {
    margin-top: 36.5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;

}

/* /FIRST SCREEN */


/* SECOND SCREEN */

.screen-second .p-header {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.screen-second span {
    color: red;
}

.screen-second {
    width: 80%;
    margin: 0 auto;
}

.screen-second__left {
    width: 45%;
    display: inline-block;
}

.screen-second__left p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    margin-bottom: 20px;
}



.screen-second button {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    border: none;
    border: 2px solid #E7E7E7;
    background-color: #F7F7F7;
    cursor: pointer;
    padding: 0px;
 
    




}

.screen-second button:focus {
    outline: none;
    transition: all 3s ease-in-out;
}

.screen-second button:focus > .dropdown__icon-plus {
    background-image: url(./../img/Shape\ 6.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;

}



.screen-second button:after {
    content: '';
    width: 100%;
    height: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.screen-second button:focus::after {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.";
    display: block;
    width: 96.4%;
    height: 100%;
    border: 2px solid #E7E7E7;
    background-color: #fff;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;


    /* POSMOTRET SSILKY DLYA VIPADAUSHEGO MENU http://htmlbook.ru/blog/primer-slaydera-upravlyaemogo-tolko-s-pomoshchyu-css3 */

}

.zaglushka {
    height: 300px;
    /* background-color: green; */
}

.dropdown__icon-plus {
    display: table-cell;

    background-image: url(./../img/Shape\ 7.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;   
    height: 45px;
    width: 60px;

    border-right: 2px solid #E7E7E7;
    margin-right: 30px;
}

.screen-second .intro-text{
    margin-top: 70px;
    margin-bottom: 30px;
}

.dropdown__text     {
    display:table-cell;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    padding-left: 20px;
 
    font-weight: 600;

}
.screen-second__right{
        width: 45%;
        display: inline-block;
        margin-left: 5%;
}

.img-container{
    position: relative;
    margin-top: 70px;

}

.front{
    width: 415px;
    height: 360px;
    z-index: 5;
    position: absolute;
    left:10%;
}
.left {
     width: 375px;
     height: 324px;
     z-index: 2;
    position: absolute;
    left:0px;
    top:18px;

}
.right {
     width: 375px;
     height: 324px;
     z-index: 2;
    position: absolute;
    right:0px;
    top:18px;


}

.copy-right{
         width: 375px;
         height: 324px;
         z-index: 2;
         position: absolute;
         right:0px;
         top:18px;
         opacity: .7;

}


.copy-left{
     width: 375px;
     height: 324px;
     z-index: 2;
     position: absolute;
     left:0px;
     top:18px;
    opacity: .8;
}

.screen-second__main{
    display: flex;
}



/* /SECOND SCREEN */